/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }
  .logo {
    width: 250px;
    margin-top: 2px ;
    margin-left: 30px;
  }
  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
  header {
    height: 50px;
  }
  .top-wrapper {
    text-align: left;
    margin: 0  auto;
    object-fit: cover;
    background-size: cover;
    background-position: right center;
  }
  .top-wrapper h1{
    display: none;
    margin-right: 0;
    font-size: 70px;
    color:black;
    text-shadow:1px 1px 0 white,-1px 1px 0 white,1px -1px 0 white,-1px -1px 0 white;
  }
  .new-wrapper{
    width: 90%;
  }
  .section{
    width:100%;
  }
  .sentence{
    width: 95%;
  }
  .sentence li{
    text-align: left;
    word-wrap:keep-all;
    white-space: pre-wrap;
  }
  .new-wrapper img{
    margin:auto;
    width:90%;
    max-width: 150%;
  }

  /* header-rightクラスのdisplayをnoneに指定してください */
  .header-right{
    display:none;
  }

  /* menu-iconクラスのdisplayをblockに指定してください  */
  .menu-icon{
    display:block;
  }

  .navToggle{
    display:block;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  footer{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }



}
